<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto-selection</title>

    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css"
          integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js"
            integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-uppercase text-danger" href="#"><h1>Автоподбор (Manager)</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/manager/viewAllOrdersStatus"><h2>Просмотр</h2></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/manager/viewInProcessingOrders"><h2>Открытые заявки</h2></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/manager/viewAcceptedOrders"><h2>Принятые заявки</h2></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/manager/viewClosedOrders"><h2>Закрытые заявки</h2></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- content -->
<div class = container-fluid>
    <form action="http://localhost:8081/manager/viewInProcessingOrders" method="POST">
        <div>
            <fieldset>
                <legend>Изменение статуса заявки пользователя</legend>
                <div>
                    <label for="updateOrder_id">Укажите номер заявки</label>
                    <input id="updateOrder_id" type="number" min="1" max="10000000" step="1"  name="id">
                </div>
                <div>
                    <fieldset style="display:inline">
                        <legend>Статус заявки</legend>
                        <input type="radio" name="status" value="Accepted" checked> Принято
                        <input type="radio" name="status" value="Processed"> Закрыто
                    </fieldset>
                </div>
            </fieldset>
        </div>

        <div>
            <input type=submit value="Подтвердить">
        </div>
    </form>
</div>
<!-- content end-->

<table class="table">
    <thead>
    <tr>
        <th scope="col">Номер заявки</th>
        <th scope="col">Марка</th>
        <th scope="col">Модель</th>
        <th scope="col">Год выпуска от</th>
        <th scope="col">Год выпуска до</th>
        <th scope="col">Объем двигателя от</th>
        <th scope="col">Объем двигателя до</th>
        <th scope="col">Трансмиссия</th>
        <th scope="col">Тип кузова</th>
        <th scope="col">Цена от</th>
        <th scope="col">Цена до</th>
        <th scope="col">Дата формирования заявки</th>
        <th scope="col">Статус</th>
        <th scope="col">Дата обработки</th>
        <th scope="col">Дата закрытия</th>
    </tr>
    </thead>
        <tbody class="table-striped">
        <tr th:each="order : ${orderList}">
            <td th:utext="${order.id}"></td>
            <td th:utext="${order.brand}"></td>
            <td th:utext="${order.model}"></td>
            <td th:utext="${order.releaseDateFrom}"></td>
            <td th:utext="${order.releaseDateTo}"></td>
            <td th:utext="${order.engineCapacityFrom}"></td>
            <td th:utext="${order.engineCapacityTo}"></td>
            <td th:utext="${order.transmission}"></td>
            <td th:utext="${order.carBody}"></td>
            <td th:utext="${order.priceFrom}"></td>
            <td th:utext="${order.priceTo}"></td>
            <td th:utext="${order.createdData}"></td>
            <td th:utext="${order.status}"></td>
            <td th:utext="${order.acceptDate}"></td>
            <td th:utext="${order.closeDate}"></td>

        </tr>

        </tbody>
<!--    <tbody class="table-striped">-->
<!--    <tr th:each="car : ${list}">-->
<!--        <td th:utext="${car.getId()}"></td>-->
<!--        <td th:utext="${car.carModel}">count</td>-->
<!--        <td th:utext="${car.carMounth}">size</td>-->
<!--        <td th:utext="${car.carTypeBody}">even</td>-->
<!--        <td th:utext="${car.carEngineVolume}">odd</td>-->
<!--        <td th:utext="${car.carEngine}">first</td>-->
<!--        <td th:utext="${car.carTransmission}">last</td>-->
<!--    </tr>-->

<!--    </tbody>-->
</table>

<footer>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body">Mikalai Ruzhitskiy for TeachMeSkills</a>
    </div>
</footer>
</body>
</html>

